@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://scontent.fyyc3-1.fna.fbcdn.net/v/t1.0-9/61520025_10157139719296203_3210088793600163840_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_ohc=wgyHWqq-m6gAX_W18jt&_nc_ht=scontent.fyyc3-1.fna&oh=ed2c3deef9bd35c73d0cb87b949cc57d&oe=5FF238FF')
    no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}